
/*Buttons*/

button {
  text-align: center;
  padding:18px 24px;
  transition: all 0.2s;
  max-width: 20vh;

  white-space: nowrap;
  text-align: center;
}

.button__twitter{
  border-radius: 8px;
  border: none;

  color: #fff;
  background-color: #86BFEF;

  margin-right: 2rem;
}

.button__twitter:hover{
  transform: translate(0,-4%);
  box-shadow: 0px 12px 15px rgba(37, 104, 159, 0.16);
}

.button__twitter:visited{

}

.button__contact{
  appearance:none;
  background: #D4F6F4;

  border-radius: 8px;
  border: none;

  color: #797979;
}

.button__contact:hover{
  transform: translate(0,-4%);
  box-shadow: 0px 12px 25px rgba(83, 197, 197, 0.17);
}

.button__contact:visited{

}

.button__cta{
  margin-right: 2rem;
  appearance:none;
  font-weight: 600;
  font-size: 19.3547px;
  line-height: 25px;

  text-align: center;
  letter-spacing: 0.005em;

  color: #FBFDFF;
  background: linear-gradient(95.57deg, #1B4EFD -79.59%, #BBE9E3 125.82%);
  /* box-shadow: 0px 0px 22.8738px rgba(0, 0, 0, 0.02); */
  border-radius: 8px;
  border: none;
}

.button__cta:hover{
  transform: translate(0,-4%);
  box-shadow: 0px 12px 35px rgba(163, 209, 232, 0.68);
}

.button__cta:visited{

}

.button__demo{
  appearance:none;
  font-weight: 600;
  font-size: 19.3547px;
  line-height: 25px;

  color: #7B839A;
  background-color: #EFF6F6;
  border: 2px solid #7B839A;
  box-sizing: border-box;
  box-shadow: 0px 0px 22.8738px rgba(0, 0, 0, 0.02);
  border-radius: 7.91784px;
}
.button__demo:hover{
  transform: translate(0,-4%);
  box-shadow: 0px 12px 15px rgba(145, 215, 215, 0.3);
}
.button__demo:visited{

}
