@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
html{
  font-family: 'Inter', sans-serif;
}


body {
  background-color: #EFF6F6;
}

h1{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 3rem;
  line-height: 56px;
  /* or 126% */

  display: flex;
  align-items: center;
  letter-spacing: 0.005em;

  color: #000000;
}

p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 23px;
  /* or 127% */

  margin: -2% 0 5% 0;
  display: flex;
  align-items: center;
  letter-spacing: 0.005em;

  color: #000000;
}

.hero {
  /* height: 100vh;
  width: 100%;
  padding-left: 10vw; */

  left: 10vw;
  top: 10vh;
}

.hero__text {
  width: 40vw;
  height: 20%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;

  padding: 8rem 0 0 12rem;
}

.hero__buttons {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.hero__buttons:hover{
  cursor: pointer;
}

.hero__image {

}

.hero__banner {
  width: 50%;
  margin: 0 auto;
}

.hero__banner__gradient {
  background: rgb(119,124,149);
  background: linear-gradient(84deg, rgba(119,124,149,1) 0%, rgba(198,255,245,1) 100%);
  border-radius: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  height: 40vh;
  margin-top: 5rem;
  padding: 3rem 0;
}

.hero__banner__canvas {
  max-width: 50%;
  height: 100%;
}

.hero__banner__plugin {
  transform: translate(0, -12rem);
  max-width:100%;

  display: block;
  height: 70%;
}

.patterns {
  z-index: -1;
  width: 10vh;
}

.p0 {
  position:absolute;
  top: 12vh;
  left: 60vw;
}
.p1 {
  position:absolute;
  top: 60vh;
  left: 5vw;
}
.p2 {
  position:absolute;
  top: 72vh;
  left: 85vw;
}
