/* laptops, desktops */

@media only screen and (max-width: 3000px)  {
  .hero__banner {
    width: 100%;
    margin-top: 8vh;
    margin-bottom: 10vh;
  }
  .hero__banner__gradient {
    height: 28rem;
  }
  .hero__banner__canvas {
    position: absolute;
    max-width: 100%;
    height: 22rem;
    left: 22%;
  }
  .hero__banner__plugin {
    position: absolute;
    max-width:100%;
    height: 22rem;
    right: 22%;
  }

}



/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media only screen and (max-width:1024px)  {

  header {
    padding: 0 2rem;
  }

  .hero {
    margin: 12rem 2rem;
  }
  .hero__text {
    width: 65vw;
  }

  .hero__banner {
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 10vh;
  }

  .hero__banner__gradient {
    height: 30rem;
  }

  .hero__banner__canvas {
    position: absolute;
    max-width: 100%;
    height: 24rem;
    left: 10%;

  }

  .hero__banner__plugin {
    position: absolute;
    max-width:100%;
    height: 24rem;
    right: 5%;
  }
}

@media only screen and (max-width:768px)  {
  .hero__banner__canvas {
    position: absolute;
    max-width: 100%;
    height: 18rem;
    left: 10%;

  }

  .hero__banner__plugin {
    position: absolute;
    max-width:100%;
    height: 18rem;
    right: 5%;
  }
}


  /* smartphones, iPhone, portrait 480x320 phones */
@media only screen and (max-width:620px)  {
 
  .hero__text {
    margin: 0;
    margin-bottom: 3rem;
  }

  .hero__banner {
    width: 100%;
    position: absolute;
    left: 0;
    margin-top: 2rem;
  }

  .hero__banner__gradient {
    border-radius: 0px;
    flex-direction: column-reverse;
    justify-content: flex-start;

    height: 50vh;
    margin-top: 0;
    padding: 3rem 0;
  }

  .hero__banner__canvas {
    display: none;
  }

  .hero__banner__plugin {
    position: absolute;
    max-width:100%;
    height: 18rem;
    top:2rem;
  }

  .p2 {
    display: none;
  }
}
