
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media only screen and (max-width:1641px)  {
  .hero__text {
    width: 65vw;
  }

  .hero__banner {
    width: 60%;
    margin-top: 15vh;
  }

  .hero__banner__gradient {
  }

  .hero__banner__canvas {
    max-width: 50%;

  }

  .hero__banner__plugin {
    max-width:100%;

    display: block;
    height: 60%;
  }
}

  /* smartphones, iPhone, portrait 480x320 phones */
@media only screen and (max-width:620px)  {
  h1 {
    font-size: 2.8rem;
  }

  p {
    font-size: 1.2rem;
  }

  .hero__text {
    width: 90vw;
    height: 20%;

    padding: 8rem 0 0 2rem;
    margin-bottom: 3rem;
  }

  .hero__banner {
    width: 100%;
    margin: 0 auto;

    position: absolute;
    height: 50vh;
    left: 0;
    bottom: 5rem;
  }

  .hero__banner__gradient {
    border-radius: 0px;
    flex-direction: column-reverse;
    justify-content: flex-start;

    height: 50vh;
    padding: 3rem 0;
  }

  .hero__banner__canvas {
    max-width: 80%;
    height: 100%;

    margin: 0 auto;
    z-index: 2;
  }

  .hero__banner__plugin {
    transform: translate(0, -3rem);
    max-width:80%;

    display: block;
    height: 90%;

    margin: 0 auto;
  }

  .p0 {
    position:absolute;
    top: 36vh;
    left: 10vw;
  }
  .p1 {
    position:absolute;
    top: 60vh;
    left: 5vw;
  }
  .p2 {
    position:absolute;
    top: 82vh;
    left: 77vw;
    z-index: 1;
  }

  footer{
    position: absolute;
    left: 0;
    bottom: 0;
  }

  footer span{
    color: #ffffff;
  }

  footer a{
    color: #fffffff
  }

  footer a:hover{
    color: #fffffff
  }
}
